*{
    margin: : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial;
    outline: none;
}


body{
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}

.dark{
    background-color: black;
    color: white;
}
  
button{
    width: 500px;
    height: 500px;
    background-color: aqua;
}
